<div class="container-fluid">
    <div class="row grad1">
        <div class="col-sm-9 imageEdit">
            <br /> <br />
            <div>
                <h1 class="liR">Restaurant</h1>
                <h1 class="liR">Randomizer</h1>
            </div>
            <!-- <br /> <br /> <br /> <br /> <br /> <br /> <br /> -->
            <div>
                <h1 class="suSmall">Everyone makes mistakes.</h1>
                <h1 class="suSmallEdit">Everyone.</h1>
                <h1 class="suSmallEdit">Feel free to fix it!</h1>
            </div>
        </div>

        <div class="col-sm-3 fontCenter">
            <h2 class="fontColorShadowSide">Edit Account</h2>
            <br />
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                    <h3 class="fontColorShadowSide">Email</h3>
                <%= f.input :email, required: true, autofocus: true, label: false, placeholder: 'yourname@mail.com' %>
                    <h3 class="fontColorShadowSide">Address</h3>
                    <div class="form-group">
                        <%= f.input :address, required: true, autofocus: true, label: false, placeholder: 'Street City State Zip' %>
                        </div>
                    <h3 class="fontColorShadowSide">Password</h3>
                <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), label: false, placeholder: 'Notpassword' %>
                    <h3 class="fontColorShadowSide">Password Again</h3>
                <%= f.input :password_confirmation, required: true, label: false, placeholder: 'Notpassword' %>
              </div>
              <br />
              <br />
              <div class="form-actions fontColorShadowSide">
                <%= f.button :submit, "Update!", class: 'btn btn-outline btn-lg buttonColor' %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>
