<div class="container-fluid">
    <div class="row grad">
        <div class="col-sm-8 imageLi">
            <br /> <br />
            <div>
                <h1 class="fontColorShadowMain fontCenter font100">Restaurant</h1>
                <h1 class="fontColorShadowMain fontCenter font100">Randomizer</h1>
            </div>
            <br /> <br /> <br /> <br /> <br /> <br /> <br />
            <div>
                <h1 class="fontColorShadowMain fontCenter">Stop not deciding about food...stop it!</h1>
            </div>
        </div>
        <div class="col-sm-4 fontCenter">
            <h2 class="fontColorShadowSide">Log In</h2>
            <br />
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-inputs">
                  <h3 class="fontColorShadowSide">Email</h3>
                <%= f.input :email, required: false, autofocus: true, label: false, placeholder: 'yourname@mail.com' %>
                    <h3 class="fontColorShadowSide">Password</h3>
                <%= f.input :password, required: false, label: false, placeholder: 'Notpassword' %>
                <br />
                <div class="fontColorShadowSide">
                    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                </div>
              </div>
                <br />
                <br />
              <div class="form-actions fontColorShadowSide">
                <%= f.button :submit, "Log in", class: 'btn btn-outline btn-lg btn-success' %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>

        </div>
    </div>
</div>
